@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *::selection {
        background-color: #b8b8b8;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 2px;
        height: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(166, 166, 166, .5);
    }

    html, body {
        overflow-x: hidden;
        min-height: 100vh;
        font-family: 'Inter', sans-serif;
    }

    body {
        @apply bg-ground text-black;
    }

    .dark body {
        @apply bg-ground_dark text-white;
    }
}

@layer utilities {
    /* typography - typefaces */
    .Typeface_mono_bold {
        font-family: 'Azeret Mono', monospace;
        @apply font-bold;
    }

    .Typeface_mono {
        font-family: 'Azeret Mono', monospace;
        @apply font-normal;
    }

    .Typeface_secondary {
        font-family: 'Lato', sans-serif;
    }

    /* typography - button */
    .Font_button_sm {
        @apply text-sm leading-5 font-semibold
    }

    .Font_button_md {
        @apply text-base leading-5 font-semibold
    }

    .Font_button_lg {
        @apply text-lg leading-5 font-bold
    }

    .Font_button_xl {
        @apply text-xl leading-5 font-black
    }

    /* typography - body */
    .Font_body_xs {
        @apply text-xs leading-6 font-medium
    }
    
    .Font_body_sm {
        @apply text-sm leading-6 font-medium
    }

    .Font_body_md {
        @apply text-base leading-6 font-medium
    }

    .Font_body_lg {
        @apply text-xl leading-6 font-medium
    }

    /* typography - caption */
    .Font_caption_xs {
        @apply text-xs leading-6 font-semibold
    }
    
    .Font_caption_sm {
        @apply text-sm leading-6 font-semibold
    }

    .Font_caption_md {
        @apply text-base leading-6 font-semibold
    }

    .Font_caption_lg {
        @apply text-xl leading-6 font-semibold
    }

    /* background effect */
    .Bg_skeleton {
        @apply bg-skeleton-pulse bg-[length:200%] bg-no-repeat animate-skeleton-pulse;
    }
}