@import './fonts.css';
@import './variables.css';
@import './tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply outline-none;
    }

    *::selection {
        background-color: var(--color-scarlet500);
        color: var(--color-white);
    }

    /* ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
        height: 4px;
    } */
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        @apply bg-white_o10;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply opacity-80;
    }

    ::-webkit-scrollbar-corner {
        @apply bg-transparent;
    }

    html, body {
        overflow-x: hidden;
        min-height: 100vh;
        @apply font-primary;
    }

    body {
        @apply bg-ground text-black;
    }

    .dark body {
        @apply bg-ground_dark text-white;
    }
}

@layer utilities {
    /* typography - display */
    .Font_display_xs {
        @apply text-5xl leading-[3.5rem] font-semibold;
    }

    .Font_display_sm {
        @apply text-6xl leading-[4.25rem] font-semibold;
    }

    .Font_display_md {
        @apply text-7xl leading-[5rem] font-semibold;
    }

    .Font_display_lg {
        @apply text-8xl leading-[6.5rem] font-semibold;
    }

    /* typography - title */
    .Font_title_xs {
        @apply text-base leading-6 font-semibold;
    }

    .Font_title_sm {
        @apply text-lg leading-7 font-semibold;
    }

    .Font_title_md {
        @apply text-xl leading-8 font-semibold;
    }
    
    /* typography - button */
    .Font_button_sm {
        @apply text-sm leading-5 font-semibold;
    }

    .Font_button_md {
        @apply text-base leading-5 font-semibold;
    }

    .Font_button_lg {
        @apply text-lg leading-5 font-semibold;
    }

    .Font_button_xl {
        @apply text-xl leading-5 font-semibold;
    }

    /* typography - body */
    .Font_body_xs {
        @apply text-xs leading-6 font-medium;
    }
    
    .Font_body_sm {
        @apply text-sm leading-6 font-medium;
    }

    .Font_body_md {
        @apply text-base leading-6 font-medium;
    }

    .Font_body_lg {
        @apply text-xl leading-6 font-medium;
    }

    /** typography - label */
    .Font_label_12px {
        @apply text-xs leading-5 font-medium;
    }

    .Font_label_14px {
        @apply text-[0.875rem] leading-5 font-medium;
    }

    /** typography - data */
    .Font_data_12px_num {
        @apply font-num text-xs leading-5 font-normal tracking-tight;
    }

    .Font_data_14px_num {
        @apply font-num text-[0.875rem] leading-5 font-normal tracking-tight;
    }

    .Font_data_16px_num {
        @apply font-num text-base leading-5 font-normal tracking-tight;
    }

    .Font_data_20px_num {
        @apply font-num text-xl leading-6 font-normal tracking-tight;
    }

    .Font_data_32px_num {
        @apply font-num text-[2rem] leading-10 font-normal tracking-tight;
    }

    .Font_data_12px_unit {
        @apply text-[0.625rem] leading-5 font-normal;
    }

    .Font_data_14px_unit {
        @apply text-[0.875rem] leading-5 font-normal;
    }

    .Font_data_20px_unit {
        @apply text-[0.875rem] leading-6 font-normal;
    }

    .Font_data_32px_unit {
        @apply text-2xl leading-10 font-normal;
    }

    /* typography - caption */
    .Font_caption_xs {
        @apply text-xs leading-6 font-normal;
    }
    
    .Font_caption_sm {
        @apply text-sm leading-6 font-normal;
    }

    .Font_caption_md {
        @apply text-base leading-6 font-normal;
    }

    .Font_caption_lg {
        @apply text-xl leading-6 font-normal;
    }

     /* padding */
     .Padding_modal {
        @apply px-modal_padding_x py-modal_padding_y;
     }

     /* elevation */
     .Elevation_1 {
        @apply drop-shadow-sm;
     }

     .Elevation_2 {
        @apply drop-shadow;
     }

     .Elevation_3 {
        @apply drop-shadow-md;
     }

     .Elevation_box_1 {
        box-shadow: 0px 2px 4px 0px var(--color-black-o10);
     }

     .Elevation_box_2 {
        box-shadow: 0px 4px 10px 0px var(--color-black-o10);
     }

     .Elevation_box_3 {
        box-shadow: 0px 4px 16px 0px var(--color-black-o10);
     }

     .Elevation_box_4 {
        box-shadow: 0px -4px 24px 0px var(--color-black-o10);
     }

    /* background effect */
    .Bg_skeleton {
        @apply bg-skeleton bg-no-repeat;
    }

    .Bg_glass {
        @apply bg-glass backdrop-blur-2xl;
    }

    .Bg_glass_transparent {
        @apply bg-glass backdrop-blur-md;
    }

    .Filter_darken {
        filter: brightness(0.3) hue-rotate(-82deg);
    }

     /* transition */
     .Transition_500 {
        @apply duration-500 ease-[cubic-bezier(.19,1,.22,1)];
     }

     .Transition_700 {
        @apply duration-700 ease-[cubic-bezier(.19,1,.22,1)];
     }

     .Transition_1000 {
        @apply duration-1000 ease-[cubic-bezier(.19,1,.22,1)];
     }

     .Transition_3000 {
        transition-duration: 3s;
        transition-timing-function: linear;
     }

    /* animation */
    .Animate_fast_in_downward {
        @apply origin-top animate-fast_in_y;
    }

    .Animate_fast_in_downward_back {
        @apply origin-top animate-fast_in_y_back;
    }

    .Animate_fast_in_upward {
        @apply animate-fast_in_y;
    }

    .Animate_fast_in_upward_back {
        @apply animate-fast_in_y_back;
    }

    .Animate_slide_in_leftward {
        @apply animate-fast_in_x;
    }

    .Animate_slide_in_leftward_back {
        @apply animate-fast_in_x_back;
    }

    /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
    .Component {
        contain: content;
    }
}